In [1]:
! pip install numpy pandas scikit-learn matplotlib

Requirement already satisfied: numpy in /home/bardend/Documents/Cursos/8/Data_Mining/venv/lib/python3.10/site-packages (2.1.1)
Requirement already satisfied: pandas in /home/bardend/Documents/Cursos/8/Data_Mining/venv/lib/python3.10/site-packages (2.2.3)
Requirement already satisfied: scikit-learn in /home/bardend/Documents/Cursos/8/Data_Mining/venv/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: matplotlib in /home/bardend/Documents/Cursos/8/Data_Mining/venv/lib/python3.10/site-packages (3.9.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/bardend/Documents/Cursos/8/Data_Mining/venv/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/bardend/Documents/Cursos/8/Data_Mining/venv/lib/python3.10/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /home/bardend/Documents/Cursos/8/Data_Mining/venv/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in /home/bardend/Documents/Cursos/8/Data_Mining/venv/lib/python3.10/site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: joblib>=1.2.0 in /home/bardend/Documents/Cursos/8/Data_Mining/venv/lib/python3.10/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: scipy>=1.6.0 in /home/bardend/Documents/Cursos/8/Data_Mining/venv/lib/python3.10/site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: contourpy>=1.0.1 in /home/bardend/Documents/Cursos/8/Data_Mining/venv/lib/python3.10/site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: pillow>=8 in /home/bardend/Documents/Cursos/8/Data_Mining/venv/lib/python3.10/site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/bardend/Documents/Cursos/8/Data_Mining/venv/lib/python3.10/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: fonttools>=4.22.0 in /home/bardend/Documents/Cursos/8/Data_Mining/venv/lib/python3.10/site-packages (from matplotlib) (4.54.0)
Requirement already satisfied: cycler>=0.10 in /home/bardend/Documents/Cursos/8/Data_Mining/venv/lib/python3.10/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: pyparsing>=2.3.1 in /home/bardend/Documents/Cursos/8/Data_Mining/venv/lib/python3.10/site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: packaging>=20.0 in /home/bardend/Documents/Cursos/8/Data_Mining/venv/lib/python3.10/site-packages (from matplotlib) (24.1)
Requirement already satisfied: six>=1.5 in /home/bardend/Documents/Cursos/8/Data_Mining/venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA
from sklearn import preprocessing
import matplotlib.pylab as plt

In [3]:
bostonHousing_df = pd.read_csv('BostonHousing.csv')

In [4]:
bostonHousing_df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV,CAT. MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0,0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6,0
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7,1
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4,1
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,9.67,22.4,0
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,9.08,20.6,0
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,5.64,23.9,0
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,6.48,22.0,0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,7.88,11.9,0

In [5]:
bostonHousing_df = bostonHousing_df.rename(columns={'CAT. MEDV': 'CAT_MEDV'})

In [6]:
bostonHousing_df.head(9)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV,CAT_MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0,0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6,0
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7,1
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4,1
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2,1
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,5.21,28.7,0
6,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,12.43,22.9,0
7,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,19.15,27.1,0
8,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,29.93,16.5,0

In [7]:
bostonHousing_df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV,CAT_MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,12.653063,22.532806,0.166008
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,7.141062,9.197104,0.372456
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,1.730000,5.000000,0.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,6.950000,17.025000,0.000000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,11.360000,21.200000,0.000000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,16.955000,25.000000,0.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,37.970000,50.000000,1.000000

In [8]:
print('Mean : ', bostonHousing_df.CRIM.mean())

Mean :  3.613523557312254

In [9]:
print('Number of missing values : ', bostonHousing_df.CRIM.isnull().sum())

Number of missing values :  0

In [10]:
pd.DataFrame({'mean': bostonHousing_df.mean(),
'sd': bostonHousing_df.std(),
'min': bostonHousing_df.min(),
'max': bostonHousing_df.max(),
'median': bostonHousing_df.median(),
'length': len(bostonHousing_df),
'miss.val': bostonHousing_df.isnull().sum(),
})

,mean,sd,min,max,median,length,miss.val
CRIM,3.613524,8.601545,0.00632,88.9762,0.25651,506,0
ZN,11.363636,23.322453,0.00000,100.0000,0.00000,506,0
INDUS,11.136779,6.860353,0.46000,27.7400,9.69000,506,0
CHAS,0.069170,0.253994,0.00000,1.0000,0.00000,506,0
NOX,0.554695,0.115878,0.38500,0.8710,0.53800,506,0
RM,6.284634,0.702617,3.56100,8.7800,6.20850,506,0
AGE,68.574901,28.148861,2.90000,100.0000,77.50000,506,0
DIS,3.795043,2.105710,1.12960,12.1265,3.20745,506,0
RAD,9.549407,8.707259,1.00000,24.0000,5.00000,506,0
TAX,408.237154,168.537116,187.00000,711.0000,330.00000,506,0
PTRATIO,18.455534,2.164946,12.60000,22.0000,19.05000,506,0
LSTAT,12.653063,7.141062,1.73000,37.9700,11.36000,506,0
MEDV,22.532806,9.197104,5.00000,50.0000,21.20000,506,0
CAT_MEDV,0.166008,0.372456,0.00000,1.0000,0.00000,506,0

In [11]:
bostonHousing_df.corr().round(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV,CAT_MEDV
CRIM,1.00,-0.20,0.41,-0.06,0.42,-0.22,0.35,-0.38,0.63,0.58,0.29,0.46,-0.39,-0.15
ZN,-0.20,1.00,-0.53,-0.04,-0.52,0.31,-0.57,0.66,-0.31,-0.31,-0.39,-0.41,0.36,0.37
INDUS,0.41,-0.53,1.00,0.06,0.76,-0.39,0.64,-0.71,0.60,0.72,0.38,0.60,-0.48,-0.37
CHAS,-0.06,-0.04,0.06,1.00,0.09,0.09,0.09,-0.10,-0.01,-0.04,-0.12,-0.05,0.18,0.11
NOX,0.42,-0.52,0.76,0.09,1.00,-0.30,0.73,-0.77,0.61,0.67,0.19,0.59,-0.43,-0.23
RM,-0.22,0.31,-0.39,0.09,-0.30,1.00,-0.24,0.21,-0.21,-0.29,-0.36,-0.61,0.70,0.64
AGE,0.35,-0.57,0.64,0.09,0.73,-0.24,1.00,-0.75,0.46,0.51,0.26,0.60,-0.38,-0.19
DIS,-0.38,0.66,-0.71,-0.10,-0.77,0.21,-0.75,1.00,-0.49,-0.53,-0.23,-0.50,0.25,0.12
RAD,0.63,-0.31,0.60,-0.01,0.61,-0.21,0.46,-0.49,1.00,0.91,0.46,0.49,-0.38,-0.20
TAX,0.58,-0.31,0.72,-0.04,0.67,-0.29,0.51,-0.53,0.91,1.00,0.46,0.54,-0.47,-0.27
PTRATIO,0.29,-0.39,0.38,-0.12,0.19,-0.36,0.26,-0.23,0.46,0.46,1.00,0.37,-0.51,-0.44
LSTAT,0.46,-0.41,0.60,-0.05,0.59,-0.61,0.60,-0.50,0.49,0.54,0.37,1.00,-0.74,-0.47
MEDV,-0.39,0.36,-0.48,0.18,-0.43,0.70,-0.38,0.25,-0.38,-0.47,-0.51,-0.74,1.00,0.79
CAT_MEDV,-0.15,0.37,-0.37,0.11,-0.23,0.64,-0.19,0.12,-0.20,-0.27,-0.44,-0.47,0.79,1.00

In [12]:
bostonHousing_df = pd.read_csv('BostonHousing.csv')

In [13]:
bostonHousing_df = bostonHousing_df.rename(columns={'CAT. MEDV': 'CAT_MEDV'})

In [14]:
 bostonHousing_df.CHAS.value_counts()

CHAS
0    471
1     35
Name: count, dtype: int64

In [15]:
bostonHousing_df['RM_bin'] = pd.cut(bostonHousing_df.RM, range(0, 10), labels=False)

In [16]:
bostonHousing_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV,CAT_MEDV,RM_bin
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0,0,6
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6,0,6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7,1,7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4,1,6
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2,1,7

Our choice. For example, Table 4.7 computes the average of MEDV by CHAS
and RM and presents it as a pivot table.

In [17]:
bostonHousing_df.groupby(['RM_bin', 'CHAS'])['MEDV'].mean()

RM_bin  CHAS
3       0       25.300000
4       0       15.407143
5       0       17.200000
        1       22.218182
6       0       21.769170
        1       25.918750
7       0       35.964444
        1       44.066667
8       0       45.700000
        1       35.950000
Name: MEDV, dtype: float64

In [18]:
bostonHousing_df = pd.read_csv('BostonHousing.csv')
bostonHousing_df = bostonHousing_df.rename(columns={'CAT. MEDV': 'CAT_MEDV'})
# create bins of size 1
bostonHousing_df['RM_bin'] = pd.cut(bostonHousing_df.RM, range(0, 10), labels=False)

In [19]:
# use pivot_table() to reshape data and generate pivot table
pd.pivot_table(bostonHousing_df, values='MEDV', index=['RM_bin'], columns=['CHAS'],
aggfunc=np.mean, margins=True)

/tmp/ipykernel_6898/4132245748.py:2: FutureWarning: The provided callable <function mean at 0x7d8b6c13f250> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  pd.pivot_table(bostonHousing_df, values='MEDV', index=['RM_bin'], columns=['CHAS'],
/tmp/ipykernel_6898/4132245748.py:2: FutureWarning: The provided callable <function mean at 0x7d8b6c13f250> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  pd.pivot_table(bostonHousing_df, values='MEDV', index=['RM_bin'], columns=['CHAS'],
/tmp/ipykernel_6898/4132245748.py:2: FutureWarning: The provided callable <function mean at 0x7d8b6c13f250> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  pd.pivot_table(bostonHousing_df, values='MEDV', index=['RM_bin'], columns=['CHAS'],

CHAS            0          1        All
RM_bin
3       25.300000        NaN  25.300000
4       15.407143        NaN  15.407143
5       17.200000  22.218182  17.551592
6       21.769170  25.918750  22.015985
7       35.964444  44.066667  36.917647
8       45.700000  35.950000  44.200000
All     22.093843  28.440000  22.532806